<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>app.log</file>
        <append>false</append>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] uuid=%X{uuid} %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %magenta([%thread]) %yellow(uuid=%X{uuid}) %highlight(%-5level) %cyan(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.apache.http.impl.conn" level="warn"/>
    <logger name="org.apache.http.impl.client" level="warn"/>
    <logger name="com.eug.md" level="warn"/>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <shutdownHook/>
</configuration>